<!-- Footer Start -->
<div class="container-fluid bg-secondary text-dark mt-5 pt-5"> 
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <a href="" class="text-decoration-none">
                <h1 class="mb-4 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border border-white px-3 mr-1">E</span>Shopper</h1>
            </a>
            <p>Dolore erat dolor sit lorem vero amet. Sed sit lorem magna, ipsum no sit erat lorem et magna ipsum dolore amet erat.</p>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, New York, USA</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-dark mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Home</a>
                        <a class="text-dark mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                        <a class="text-dark mb-2" href="detail.html"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                        <a class="text-dark mb-2" href="cart.html"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                        <a class="text-dark mb-2" href="checkout.html"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                        <a class="text-dark" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-dark mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Home</a>
                        <a class="text-dark mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                        <a class="text-dark mb-2" href="detail.html"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                        <a class="text-dark mb-2" href="cart.html"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                        <a class="text-dark mb-2" href="checkout.html"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                        <a class="text-dark" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Newsletter</h5>
                    <form action="">
                        <div class="form-group">
                            <input type="text" class="form-control border-0 py-4" placeholder="Your Name" required="required" />
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control border-0 py-4" placeholder="Your Email"
                                required="required" />
                        </div>
                        <div>
                            <button class="btn btn-primary btn-block border-0 py-3" type="submit">Subscribe Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row border-top border-light mx-xl-5 py-4">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-dark">
                &copy; <a class="text-dark font-weight-semi-bold" href="#"><%= projectName %></a>. All Rights Reserved.
            </p>
        </div>
        <div class="col-md-6 px-xl-0 text-center text-md-right">
            <img class="img-fluid" src="img/payments.png" alt=""> 
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Javascript File -->
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>

<script> 
    
    function updateQuantity(id,Quantity,cardItemId){
    setTimeout(() => {
       //let Quantity=  $('#item'+id).val();
       let price=  $('#price'+id).val();
       console.log(Quantity);       
       let total = parseInt(Quantity*price);
       console.log(total);
       updateQuantityToDB(id,Quantity,cardItemId);
       $('#itemTotal'+id).html(total);             
        }, 3);             
    }

    function updateQuantityToDB(productId,Quantity,id) {
        console.log(productId);        
        $.ajax({
        url: "updateProductQuantityToCard?productId="+productId+"&id="+id+"&Quantity="+Quantity,
        type: "post",  
        success: function (response) {
            console.log(response);
            //alert(response.msg); 
            getCardTotal();                      
        },
        error: function(jqXHR, textStatus, errorThrown) {
           console.log(textStatus, errorThrown);
        }
        });
    }

    function getCardTotal() {
        $.ajax({
        url: "getCardTotal",
        type: "post",  
        success: function (response) {
            console.log(response);
            //alert(response.msg); 
            if(response.status==1){
                let subtotal = response.cardTotal;
                let grandTotal = response.grandTotal;
                let shippingCharge = response.shippingCharge;
                let cardItemCount = response.itemCount;
                $('#subtotal').html(subtotal);
                $('#shippingCharge').html(shippingCharge);
                $('#grandTotal').html(grandTotal);
                $('#cardItemCount').html(cardItemCount);
            }                      
        },
        error: function(jqXHR, textStatus, errorThrown) {
           console.log(textStatus, errorThrown);
        }
        });
    }

    


    function addToCard (productId) {
        console.log(productId);        
        $.ajax({
        url: "addToCard?productId="+productId,
        type: "post",  
        success: function (response) {
            console.log(response);
            alert(response.msg);  
            getCardTotal();                     
        },
        error: function(jqXHR, textStatus, errorThrown) {
           console.log(textStatus, errorThrown);
        }
        });
    }

    function removeItemFromCard(productId) {
        let confirmStatus = confirm("Are you sure you want to delete this item");
        console.log(productId);        
        if(confirmStatus){
            $.ajax({
            url: "removeItemFromCard?productId="+productId,
            type: "post",  
            success: function (response) {
                console.log(response);
                getCardTotal();   
                alert(response.msg); 
                $('#productRow'+productId).remove();                   
            },
            error: function(jqXHR, textStatus, errorThrown) {
            console.log(textStatus, errorThrown);
            }
            });
       }
    }

    function checkCouponCode(){
           let CouponCode = $('#CouponCode').val();
           if(CouponCode==''){
            alert('Please Enter Coupon Code');
           }else{
            alert('Invalid Coupon Code');
           }
    }
    </script>

<script>
    function placeOrder(){
       event.preventDefault(); // cancel default behavior
       let name = $('#name').val();
       let email = $('#email').val();
       let mobile = $('#mobile').val();
       let address = $('#address').val();
       let city = $('#city').val();
       let state = $('#state').val();
       let pincode = $('#pincode').val();
       let grandTotal = $('#grandTotal').val();
       let payment = $('input[name="payment"]:checked').val();
       

     if(!name){
         alert('Please Enter Your Name');
         return false;
     }
     if(!email){
         alert('Please Enter Your email');
         return false;
     }
     if(!mobile){
         alert('Please Enter Your mobile');
         return false;
     }
     if(!address){
         alert('Please Enter Your address');
         return false;
     }
     if(!city){
         alert('Please Enter Your city');
         return false;
     }
     if(!state){
         alert('Please Enter Your state');
         return false;
     }
     if(!pincode){
         alert('Please Enter Your pincode');
         return false;
     }

     if(grandTotal=='' || grandTotal==0 || grandTotal=='0'){
         alert('Amount is 0 cant process further.');
         return false;
     }

     if(!payment){
         alert('Please Select Payment Type');
         return false;
     }

     var paymentFormData = $("#paymentForm").serialize();
     console.log('paymentFormData'+paymentFormData);
     //return false;

     let confirmStatus = confirm("You will be Redirect to Payment page do not Refresh or Back button");
     if(confirmStatus){
         $.ajax({
         url: "placeOrder",
         data:paymentFormData,
         type: "post",   
         success: function (response) {
             console.log(response); 
             let status = response.status;                                  
             let msg = response.msg; 
             alert(msg);                                  
         },
         error: function(jqXHR, textStatus, errorThrown) {
         console.log(textStatus, errorThrown);
         }
         });
    }
    }     

    function redirect(url){
   window.open(url,'_self');
    }
    



function searchProduct() {    
        $('#searchDivResult').html('');
        setTimeout(() => {      
            let search =  $('#search').val();      
            let searchDiv = '';
            $.ajax({
                url: "searchProduct?search="+search,
                type: "post",  
                success: function (response) {
                    console.log(response);                     
                    response.forEach(element => {
                        searchDiv +='<div><a target="_new" href="detail?id='+element.prodcutId+'">'+element.prodcutName+'</a></div>'; 
                    });           
                    $('#searchDivResult').html(searchDiv);                   
                },
                error: function(jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
                }
            });  
        }, 1000);
}

function rangfilter() {
    // var pricefFilter = $("input:radio[name=pricefilter]:checked").val();
    // var colorFilter = $("input:radio[name=colorfilter]:checked").val();
    // var sizeFilter = $("input:radio[name=sizefilter]:checked").val();

    let priceFilter = document.querySelector('input[name = pricefilter]:checked').value;
    let colorFilter =  document.querySelector('input[name = colorfilter]:checked').value;
    let sizeFilter =  document.querySelector('input[name = sizefilter]:checked').value;
           
        $.ajax({
        url: "rangfilter?priceFilter="+priceFilter+"&colorFilter="+colorFilter+"&sizeFilter="+sizeFilter,
        type: "post",  
        success: function (response) {
            console.log(response);    
            $('#items').html(response);                                    
        },
        error: function(jqXHR, textStatus, errorThrown) {
           console.log(textStatus, errorThrown);
        }
        });
    }
 </script>

<script>
    getCardTotal()
</script>

<script>
    //let table = new DataTable('#myTable');
    let table = new DataTable('#myTable', {
        // config options...
    });    
</script>

<!-- userfull site -->
<!-- https://futurestud.io/tutorials/iterate-through-an-objects-keys-and-values-in-javascript-or-node-js -->